/* MOBILE */

@media (max-width: 1080px) 

{


    #grillaCaballo {
      width: 100%;
      height: 1vh;
      display: grid;
      grid-template-areas:
      "header"
      "productos"
      "footer";
      grid-template-rows: 100%; 
      grid-template-columns: 100%;
    }
  
    #horse {
      display: flex;
      justify-content: space-evenly;
    }
    
    .horsetext {
      display: flex;
      justify-content: space-evenly;
    }  
  
    .horsetext {
      display: flex;
      justify-content: space-evenly;
    }

    .horsetext {
        color: white;
        margin-left: 234px;
        margin-top: 150px;
        margin-bottom: -100px;
      }

}



/* DESKTOP */

@media (min-width: 1080px) 

{


  #horse {
    margin-left: 270px;
  } 
  
  .horsetext {
    margin-left: 234px;
    margin-bottom: -110px;
    margin-top: 129px;
  }

  



}


