/* MOBILE */

@media (max-width: 1080px) 

{ 
    #grillaGatos {
        width: 100%;
        height: 1vh;
        display: grid;
        grid-template-areas:
        "header"
        "productos"
        "publicidad"
        "servicios"
        "nav"
        "footer";
        grid-template-rows: 100%; 
        grid-template-columns: 100%;

        .videocats1 {
            padding: 1em;
            display: flex;
            justify-content: space-evenly;
            margin-top: 60px;
            
            .littlecats {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                padding: 1em;

                .catmobileno {
                    display: none;

                    .catusdom {
                        color: white;
                        font-size: 17pt;
                        text-align: center;
                        line-height: 30pt;

                        .catmini {
                            padding: 1em;
                            display: flex;
                            justify-content: space-evenly;
                        
                        }
                    }
                }
            }
        }
    }
}





/* DESKTOP */

@media (max-width: 1080px) 

{ 
  
    #grillaGatos {
     width: 100%;
     height: 100vh;
     display: grid;
     grid-template-areas:
     "header header header"
     "nav productos publicidad"
     "nav servicios publicidad"
     "footer footer footer";
     grid-template-rows: 100px 2fr 1fr 75px; 
     grid-template-columns: 15% auto 15%;
        
    }  

        .videocats1 {
        margin-top: 80px;
        display: flex;
        justify-content: space-evenly;
        }
      
            .littlecats {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 1em;
            margin-bottom: 124px;
            margin-top: 130px;
            
            }
      
    
                .catusdom {
                margin-top: 80px;
                color: white;
                font-size: 17pt;
                text-align: center;
                line-height: 30pt;
      
                }
      
                    .catmini {
                    padding: 1em;
                    display: flex;
                    justify-content: space-evenly;
                    
                    }

}

